 body {
    padding-left: 15px;

}

.page-header {
    background-color: #e4202a;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    padding-left: 0.2em;
    text-align: left;
    /*
    margin-right: auto;
    margin-left: auto;
    max-width: 1500px;
    */
}

h1, h2, h3, h4 {
    font-family:'Orbitron', sans-serif;
}


.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 25px;
}

.post {
    margin-bottom: 70px;
}

.post h2 a, .post h2 a:visited, .post h2 {
    color: #3ab9b9;
}

.post p {
    font-family: 'Raleway', sans-serif;
    font-size: 14pt;
    color:#000000;
}

.date p {
    color: #e4202a;
    
}
